@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Шапка */
.header {
  background-color: #635854;
  padding-top: 7px;
  padding-bottom: 15px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex; /* сделали блок гибким*/
  justify-content: space-between; /* расставили элементы по краям*/
  align-items: center; /* выровнили элементы по вертикали*/
}
.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутренние отступы*/
  list-style: none; /* отключаем маркеры списка */
  display: flex;
  text-align: center;
}
.navbar-item {
  margin-left: 40px; /* отступы у элементов списка 40пх слева*/
  margin-right: 40px; /* отступы у элементов списка 40пх справа*/
}
.navbar-link {
  text-decoration: none; /* отключаем подчеркивание у ссылок*/

  color: #fff; /* Цвет ссылки*/
}
.navbar-contacts {
  text-align: right; /* выравнивание по вертикали в право*/
}
.navbar-text {
  display: block; /* Тип контейнера блок*/

  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;

  color: #fff;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;

  color: #fff;
}

/* Контент */
.main {
  max-width: 1280px; /* Ограничение блока по ширине*/
  margin: auto; /* Отступы авто*/
  padding-top: 54px; /* Отступ сверху*/
  display: flex; /* Примыкание нижнего блока по левому краю верхнего блока*/
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Левая часть, здание */
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
path.current-floor {
  opacity: 1;
}
/* Правая часть, счетчик*/
.counter-group {
  display: flex; /* Адаптируем элементы*/
  flex-direction: column; /* Вставляем элементы друг за другом*/
  align-items: center; /* Ориентируем элементы по центру*/
}
/* Кнопка стрелка*/
.counter-button {
  border: none; /*Убераем лишнюю обводку*/
  cursor: pointer;

  background-color: #fff; /*Делаем фон блока белым*/
}
/* Кнопка стреллка вниз */
.counter-arrow-down {
  transform: rotateX(180deg); /* Поворачиваем нижнюю стрелку на 180 градусов*/
}

/*Заголовок счетчика*/
.main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;

  color: #635854;
}

/* Цифры*/
.floor-counter {
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;

  color: #635854;
}

/* Кнопка смотреть квартиры на этаже*/
.button-primary {
  border-radius: 6px;
  border: none;
  padding: 16px 36px;
  cursor: pointer;

  background: #3596f5;
  color: #fff;
}
.modal {
  display: flex; /*родительский элемент гибкий*/
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed; /* фиксированная позиция поверх всего сайта*/
  left: 0; /* приклеиваем к левому краю*/
  top: 0; /* приклеиваем к верху*/

  background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный фоновый черный цвет*/
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}
.is-open {
  opacity: 1;
  transform: scale(1);
}
.modal-dialog {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-width: 1000px;
  min-height: 565px;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;

  background-color: #fff;
}
.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}
.modal-image {
  width: 60%;
  padding: 50px;
  text-align: center; /* весь текст по центру*/

  background-color: #ebebeb;
}
.flats path {
  opacity: 0;
  cursor: pointer;
}
.flats path:hover {
  opacity: 1;
}
.modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 25px 0;
}
.modal-info {
  width: 40%;
  padding: 50px 46px;
}
.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}
.flat-item {
  margin-bottom: 10px;
}
.flat-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #635854;
}
.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.modal-alert {
  font-style: italic;
  font-weight: normal;

  font-size: 16px;
  line-height: 19px;
  margin-top: 56px;

  color: #635854;
}
.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
